---
import { getEntry, getCollection } from "astro:content";
const blogConfig = await getCollection("blog");
const siteConfig = await getEntry("site", "data");
const { blogUrl = "" } = siteConfig.data;
// TODO:  fix me
// BUG: todos dont work

import Layout from "../layouts/RegularLayout.astro";
---

<Layout title="Astral Arra" activeUrl="/blog">
  <ul class="space-y-4 p-4">
    {
      blogConfig.map((post) => {
        return (
          <li>
            <h2 class="text-2xl">
              <a href={`/blog/${post.slug}`} title={post.data.title}>
                {post.data.title}
              </a>
            </h2>
            {post.data.categories && (
              <div class="flex gap-2 text-sm text-stone-500">
                <span>Категории: </span>
                {post.data.categories.map((category) => {
                  return <a href={`${blogUrl}/categories/${category}`}>{category}</a>;
                })}
              </div>
            )}
            {post.data.tags && (
              <div class="flex gap-2 text-sm text-stone-500">
                <span>Тагове: </span>
                {post.data.tags.map((tag) => {
                  return <a href={`${blogUrl}/tags/${tag}`}>{tag}</a>;
                })}
              </div>
            )}
          </li>
        );
      })
    }
  </ul>
</Layout>
