---
import { getEntry, getCollection } from "astro:content";
const portalConfig = await getCollection("portal");
const blogUrl = "/portal";

import Layout from "../layouts/RegularLayout.astro";
---

<Layout title="Astral Arra" activeUrl="/portal">
  <h1 class="p-4 text-3xl uppercase">Портал</h1>
  <h2 class="px-4 py-2 text-xl">Статии</h2>
  <ul class="space-y-4 p-4">
    {
      portalConfig.map((post) => {
        return (
          <li>
            <h2 class="text-2xl">
              <a href={`${blogUrl}/${post.slug}`} title={post.data.title}>
                {post.data.title}
              </a>
            </h2>
            {post.data.categories && (
              <div class="flex gap-2 text-sm text-stone-500">
                <span>Категории: </span>
                {post.data.categories.map((category) => {
                  return <a href={`${blogUrl}/categories/${category}`}>{category}</a>;
                })}
              </div>
            )}
            {post.data.tags && (
              <div class="flex gap-2 text-sm text-stone-500">
                <span>Тагове: </span>
                {post.data.tags.map((tag) => {
                  return <a href={`${blogUrl}/tags/${tag}`}>{tag}</a>;
                })}
              </div>
            )}
          </li>
        );
      })
    }
  </ul>
</Layout>
