---
import { Image } from "astro:assets";
import logoImg from "../assets/images/arra.jpg";
import { getCollection } from "astro:content";
const navConfig = await getCollection("nav");
const blogConfig = await getCollection("blog");
const navItems = navConfig[0].data;

const blogCategories = blogConfig.reduce((categories, post) => {
  let blogCategories = post.data.categories;
  if (!blogCategories || blogCategories.length === 0) {
    return categories;
  }
  if (!Array.isArray(blogCategories)) {
    blogCategories = [blogCategories];
  }
  blogCategories.forEach((category) => {
    if (!categories.includes(category)) {
      categories.push(category);
    }
  });
  return categories;
}, []);
const { url = "", isHero = false } = Astro.props;
---

<div
  class={`${
    isHero
      ? ""
      : "from-cloud-burst-900/60 to-cloud-burst-900/70 shadow-cloud-burst-100 bg-gradient-to-b shadow-2xl"
  } main-nav hidden w-full md:flex flex-row justify-between items-center`}
>
  <div class="logo">
    <a class="home" href="/">
      <Image class="rounded-full sepia" src={logoImg} alt="Astral Arra Logo" width="80" />
    </a>
  </div>
  <div>
    <nav class="w-full uppercase">
      <ul class="text-cloud-burst-50 flex flex-row items-center justify-around p-4" role="menu">
        {
          navItems.map((item) => {
            const hasBlogCategories = item.url === "/blog" && blogCategories.length > 0;
            return (
              <li role="none" class="group relative">
                <a
                  href={item.url}
                  class={`${url === item.url ? "font-bold underline" : ""} 
                  ${hasBlogCategories ? "group-hover:rounded-b-none" : ""}
                  group-hover:bg-cloud-burst-400/50 flex h-12 items-center justify-center rounded-lg bg-transparent px-4 py-2 text-center transition duration-500 hover:shadow-2xl`}
                >
                  {item.title}&nbsp;
                  {hasBlogCategories ? <span class="group-hover:rotate-180"> ▾ </span> : " "}
                </a>

                {hasBlogCategories && (
                  <ul class="border-cloud-burst-400/50 bg-cloud-burst-400/20 absolute left-0 flex min-w-[200px] -translate-y-full flex-col space-y-2 rounded-b-lg rounded-tr-lg border-2 p-4 opacity-0 transition duration-300 group-hover:translate-y-0 group-hover:opacity-100">
                    {blogCategories.map((category) => (
                      <li role="none" class="w-full text-left">
                        <a href={`${item.url}/${category}`}>{category}</a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
  <div
    class="mobile-nav from-cloud-burst-900/60 to-cloud-burst-900 shadow-cloud-burst-100 h-full w-[98%] rounded-r-lg bg-gradient-to-r shadow-2xl transition duration-500 md:hidden"
  >
    <nav class="h-full uppercase">
      <ul class="flex flex-col items-start justify-center p-4" role="menu">
        {
          navItems.map((item) => (
            <li role="none" class="w-full text-left">
              <a
                href={item.url}
                class={`${
                  url === item.url ? "font-bold underline" : ""
                } text-cloud-burst-50 hover:bg-cloud-burst-400/50 flex h-12 w-full items-center rounded-lg bg-transparent px-4 py-2 text-center transition duration-500 hover:shadow-2xl`}
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>

<style>
  .logo {
    @apply flex items-center justify-center p-4;
  }
</style>
