---
import Footer from "../components/Footer.astro";
import MainNav from "../components/MainNav.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles.css";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content={`${frontmatter.title} by ${frontmatter.author}`} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{frontmatter.title}</title>
  </head>
  <body class="">
    <div class="wrapper grid-rows-layout grid h-full w-full grid-cols-1">
      <MainNav url={"/blog"} />
      <main class="container mx-auto">
        <article
          class="prose lg:prose-xl prose-stone dark:prose-invert prose-blockquote:text-right prose-p:text-justify mx-auto my-16"
        >
          <h1>{frontmatter.title}</h1>
          <p class="p-0 text-sm text-stone-500">От: {frontmatter.author}</p>
          <slot />
          <p class="p-0 text-sm text-stone-500">
            публикувано на: {new Date(frontmatter.date).toLocaleDateString()}
          </p>
        </article>
      </main>
      <Footer />
    </div>
  </body>
</html>
